* { /*Eveything same except the last two elements*/
    padding:0;
    margin:0;
    box-sizing: border-box;    
  }

.cool-colors {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.301), rgba(165, 255, 153, 0.80));
  width:100%;
  height:100%;
  position: absolute;
}

.name {
  font-weight: 700;
  font-size: 40px;
  width:20%;
  height: 20%;
  text-align:center;
  position: absolute;
  top:0;
  left:0;
  color:white;
}

.navBar {
  position: absolute;
  top: 0;
  right: 0;
  font-size:25px;
}

nav .name {
  font-weight: 700;
  font-size: 40px;
  width:40%;
  height: 20%;
}

nav ul {
  display:flex;
  list-style: none;
}

nav ul li {
  padding: 4px 10px;
}

nav ul li a {
  color:white;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}

nav ul li:hover {
  background-color: black;
}

.container {
  position: relative;
  top: 60%;
  transform: translateY(-400%);
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
  width:80%;
}
.image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.text {
  font-size: 20px;
  margin-left: 20px;
  width:7%;
  text-decoration: none;
  color:white;
}

button{
  position: fixed;
  bottom: 20px;
  left: 20px;
  width:100px;
}

button:hover {
  background-color: rgba(165, 255, 153, 0.80);
}

.info_title { /*Puts the title of the info ontop of the description by transforming it up and moving puts a margin so that it doesn't interfere with the picutres*/
  display: flex;
  align-items: center;
  justify-content: center;
  width:20%;
  text-align: center;
  margin: 0 auto;
  margin-left: 60%;
  transform: translateY(-560%);
  color:white;
}

.info { /*Moves the info underneath the info title and puts a margin so that it doesn't interfere with the picutres*/
  display: flex;
  align-items: center;
  justify-content: center;
  width:20%;
  text-align: center;
  margin: 0 auto;
  margin-left: 60%;
  margin-top: -200px;
  color:white;
}
