* {
    padding:0;
    margin:0;
    box-sizing: border-box;    
}

body { /*This creates the effect of the color going from black to red*/
    background: linear-gradient(to right, rgba(0, 0, 0, 0.301), rgba(255, 0, 0, 0.80));
    font-family: sans-serif;
}

nav { /*Makes it so the nav element is spaced out and assigned to its designated width and height*/
    width:100%;
    height:70%;
    display:flex;
    justify-content: space-between;
    padding:35px 5%;
}

.navBar { /*This makes it so that the navbar is in the top right of the screen all the time */
    position: absolute;
    top: 0;
    right: 0;
    font-size:25px;
}

nav .name { /*This adjusts the the boldness and size of the text in the navbar*/
    font-weight: 700;
    font-size: 40px;
    width:40%;
    height: 20%;
}

nav ul { 
    display:flex;
    list-style: none;
}

nav ul li {
    padding: 4px 10px;
}

nav ul li a { /*This changes the color, boldness and size of the text and removes any effect the <a> elements will have on the text*/
    color:black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

nav ul li:hover { /*Makes it so when you hover of the elements in the navbar the background changes color to white*/
    background-color: rgba(255, 255, 255);
}

.container { /*This alings all the elements in a row and makes aligns them from the left and vertically, and makes the height 8-% of the viewport height*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
}

.container .text { 
    padding-right: 50px;
    width:50%;
}
.text h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.text p {
    font-size:20px;
    margin-bottom: 20px;
}
.text button { /*Changes the elements of the button my make the edges of the button rounded and changes the dimensions of the button*/
    width: 125px;
    padding: 10px 20px;
    border-radius: 15px;
    border-style: none;
    color:red;
    font-size: 12px;
    font-weight:500;
}
 
.text button:hover { /*If the button is hovered over then the it changes color*/
    background-color: rgb(255, 213, 128);
}

.container img { /*Changes the dimensions of the image and makes it so that the image covers the desired size*/
    border-radius: 50%;
    width:400px;
    height:400px;
    object-fit: cover;
}

.black-bar { /*Makes the black bar at the bottom*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: sans-serif;
  }
